*.class

# Package Files #
*.war
*.ear
.DS_Store
/WebRoot/WEB-INF/classes
/bin
out
.idea
/.idea
/.idea/workspace.xml
.myeclipse
/.myeclipse
/out
/web
*.log
reports
reports/*
target
target/*
*.ser
.idea/*
/target
